html, body {
  margin: 0;
  padding: 0;
  color: #383734;
  font-family: "Arial Narrow", sans-serif; }

h2 {
  font-family: "Arial Narrow", sans-serif;
  font-weight: normal;
  font-size: 30; }
  h2.blanco {
    color: white; }

h3 {
  color: white; }

h4 {
  margin-bottom: 0.3em;
  color: white; }

a:link, a:visited {
  color: white; }
a:hover, a:active {
  color: #ccff99; }

#container {
  background: #008c8d url("../img/vidascopio_background.jpg") repeat-x; }

#top {
  width: 980px;
  margin: 0 auto; }

#page {
  background: #ffffed;
  clear: both;
  padding: 7em 3em 1em;
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px; }

#footer {
  background: #67bb95;
  clear: both; }
  #footer img {
    margin: 0.5em 1em; }
  #footer div {
    width: 80%;
    margin: 0 auto;
    text-align: center; }

#logo {
  position: absolute; }

#menu {
  margin-top: 4em;
  float: right; }
  #menu ul {
    background: #408fb1;
    margin: 0;
    padding: 0.5em 0 0 0;
    list-style: none;
    border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px; }
    #menu ul li {
      float: left;
      border-right: 1px solid white; }
      #menu ul li:last-child {
        border-right: 0; }
      #menu ul li:first-child a {
        padding-left: 2.7em; }
      #menu ul li:last-child a {
        padding-right: 2.5em; }
      #menu ul li a {
        font-family: "Arial Narrow", sans-serif;
        font-weight: bold;
        color: #d9f2fa;
        background: #408fb1;
        text-decoration: none;
        display: block;
        padding: 0.7em 1.5em; }
        #menu ul li a:hover {
          background: #71b9d8; }
      #menu ul li ul {
        margin: 0;
        padding: 0 0;
        position: absolute;
        visibility: hidden;
        border-top-right-radius: 0px;
        -moz-border-radius-topright: 0px;
        -webkit-border-top-right-radius: 0px; }
        #menu ul li ul li {
          float: none;
          display: inline;
          padding: 0;
          margin: 0;
          border: none; }
          #menu ul li ul li:first-child a {
            padding-left: 2em; }
          #menu ul li ul li a {
            padding: 1em 2em; }

div.clear {
  clear: both; }

div.menu-lateral {
  width: 20%;
  float: left; }
  div.menu-lateral ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    div.menu-lateral ul li:first-child a {
      border-top-left-radius: 10px;
      -moz-border-radius-topleft: 10px;
      -webkit-border-top-left-radius: 10px; }
    div.menu-lateral ul li:last-child a {
      border-bottom: none;
      border-bottom-left-radius: 10px;
      -moz-border-radius-bottomleft: 10px;
      -webkit-border-bottom-left-radius: 10px; }
    div.menu-lateral ul li a {
      font-family: Arial;
      font-weight: bold;
      font-size: 16;
      color: #184051;
      border-bottom: 2px solid white;
      background: #d9c497;
      display: list-item;
      padding: 1em;
      text-decoration: none; }
      div.menu-lateral ul li a:hover {
        background: #d9c497; }
    div.menu-lateral ul li a.activo {
      background: #d9c497; }

div.texto-columna {
  width: 70%;
  float: left;
  background: #2b6781;
  border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  padding: 0 5%;
  min-height: 234px; }
  div.texto-columna p {
    font-family: Arial;
    font-weight: normal;
    font-size: 16;
    color: white;
    text-align: justify;
    text-indent: 1em; }
  div.texto-columna img {
    max-width: 100%;
    margin: 1em auto 3em; }
  div.texto-columna img.chica {
    max-height: 250px;
    float: left;
    margin-right: 1em; }
  div.texto-columna div.col-izq {
    width: 450px;
    float: left; }
  div.texto-columna div.col-der {
    width: 140px;
    float: left;
    margin-left: 1.5em; }

div.que-ofrecemos {
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  min-height: 234px; }
  div.que-ofrecemos h3 {
    font-size: 1.5em;
    text-align: right;
    padding: 1em;
    color: white; }

div.galeria {
  clear: both;
  padding: 0;
  width: 850px; }
  div.galeria h2 {
    text-align: left;
    border-bottom: 2px solid #b5b4b0; }
  div.galeria .fotos {
    margin-top: 1em; }
    div.galeria .fotos .foto {
      float: left;
      margin: 10px;
      width: 150px;
      height: 150px; }
      div.galeria .fotos .foto img {
        width: 150px;
        height: 150px; }

div.palabras {
  margin-top: 1.5em;
  text-align: center; }

div.cuadros div.cuadro {
  float: left;
  background: transparent url("../img/cuadro_foto.png") no-repeat;
  width: 168px;
  height: 168px;
  margin: 20px 28px 0 0;
  padding: 24px 16px 8px; }
  div.cuadros div.cuadro:last-child {
    margin-right: 0; }
  div.cuadros div.cuadro a.inner {
    display: block;
    text-decoration: none;
    text-align: center;
    background: #b5b4b0;
    color: white;
    width: 100%;
    height: 100%; }
    div.cuadros div.cuadro a.inner span.text {
      display: none;
      padding: 1.3em; }
    div.cuadros div.cuadro a.inner:hover span.text {
      display: block; }
    div.cuadros div.cuadro a.inner:hover span.img {
      display: none; }

div.gran-texto {
  color: white;
  padding: 0.5em;
  text-align: justify;
  background: #2b6781;
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px; }

div.cuadro-cita {
  font-family: Arial;
  font-style: italic;
  font-size: 16;
  color: #ccff99;
  width: 60%;
  background: transparent url("../img/fondo-cita.png");
  padding: 0.5em; }
  div.cuadro-cita .autor-cita {
    float: right;
    padding: 0.5em;
    font-weight: bold; }

div.bloque-contacto {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #2b6781;
  margin: 1em;
  padding: 1em; }
  div.bloque-contacto div {
    margin: 0.5em;
    padding: 0.1em 0.5em; }
  div.bloque-contacto .izq {
    float: left;
    padding-right: 5em; }
  div.bloque-contacto .der {
    float: left;
    border-left: 1px solid black; }
  div.bloque-contacto .formulario {
    clear: both; }
    div.bloque-contacto .formulario .col {
      padding: 2%;
      margin: 0;
      width: 46%;
      float: left; }
      div.bloque-contacto .formulario .col .row {
        padding: 0;
        margin: 0; }
    div.bloque-contacto .formulario input[type=text], div.bloque-contacto .formulario textarea {
      line-height: 2em;
      padding: 0.5em;
      width: 100%; }
    div.bloque-contacto .formulario input[type=submit] {
      float: right;
      clear: both; }
    div.bloque-contacto .formulario textarea {
      height: 10.2em; }
    div.bloque-contacto .formulario input, div.bloque-contacto .formulario textarea {
      border: 1px solid #b5b4b0; }
    div.bloque-contacto .formulario .error {
      border: 1px solid red; }
