$verde: #67BB95
$gris: #B5B4B0
$azul: #75B6D1
$color_menu_claro: #688DA1
$color_menu_seleccionado: #4FAA7F
$color_texto: #383734

$menu_lateral_seleccionado: #5aa3b8
$menu_lateral_normal: #74b7d1

$fondo_verde: #ccffd4

@mixin rounded($vert, $horz, $radius: 10px)
    border-#{$vert}-#{$horz}-radius: $radius
    -moz-border-radius-#{$vert}#{$horz}: $radius
    -webkit-border-#{$vert}-#{$horz}-radius: $radius

@mixin all-rounded($radius: 10px)
    border-radius: $radius
    -moz-border-radius: $radius
    -webkit-border-radius: $radius


html, body
    margin: 0
    padding: 0
    color: $color_texto

h4
    margin-bottom: 0.3em

#container
    background: white url("../img/fondo.png")

#top
    width: 980px
    margin: 0 auto

#page
    background: white
    clear: both
    padding: 6em 3em 1em

#footer
    background: $verde
    clear: both

    div
        width: 80%
        margin: 0 auto
        text-align: center

        img
            margin: 0.5em 1em

#logo
    position: absolute

#menu
    margin-top: 4em
    float: right
    ul
        background: $verde
        margin: 0
        padding: 0.5em 0 0 0
        list-style: none
        @include rounded(top, right)

        li
            float: left
            border-right: 1px solid white
            &:last-child
                border-right: 0

            &:first-child a
                padding-left: 3.8em

            a
                background: $verde
                color: white
                text-decoration: none
                font-weight: bold
                display: block
                padding: 1em 2em
                &:hover
                    background: $color_menu_seleccionado

            ul
                margin: 0
                padding: 0 0
                position: absolute
                visibility: hidden
                @include rounded(top, right, 0px)

                li
                    float: none
                    display: inline
                    padding: 0
                    margin: 0

                    &:first-child a
                        padding-left: 2em

                    a
                        padding: 1em 2em

div.clear
    clear: both

div.menu-lateral
    width: 220px
    float: left

    ul
        list-style: none
        margin: 0
        padding: 0
        li
            &:first-child a
                @include rounded(top, left)

            &:last-child a
                border-bottom: none
                @include rounded(bottom, left)


            a
                border-bottom: 2px solid white
                background: $menu_lateral_normal
                display: list-item
                padding: 1em
                color: white
                text-decoration: none
                font-weight: bold

                &:hover
                    background: $menu_lateral_seleccionado

            a.activo
                background: $menu_lateral_seleccionado


div.texto-columna
    width: 630px
    float: left
    background: $fondo_verde
    @include rounded(top, right)
    padding: 1em

    img
        max-width: 500px
        margin-right: 0.5em
        margin-bottom: 3em

    img.chica
        max-width: 130px
        float: left

    div.col-izq
        width: 450px
        float: left

    div.col-der
        width: 140px
        float: left
        margin-left: 1.5em

div.que-ofrecemos
    @include rounded(bottom, right)
    min-height: 234px
    padding: 0

    h3
        font-size: 1.5em
        text-align: right
        padding: 1em

div.galeria
    clear: both
    padding: 0
    width: 850px

    h2
        text-align: left
        padding-top: 1.5em
        border-bottom: 2px solid $gris

    .fotos
        margin-top: 1em

        .foto
            float: left
            margin: 10px
            width: 150px
            height: 150px

            img
                width: 150px
                height: 150px


div.palabras
    margin-top: 1.5em
    text-align: center


$ancho: 200px
$alto: 200px
$pad-vt: 24px
$pad-vb: 8px
$pad-h: 16px

div.cuadros
    div.cuadro
        float: left
        background: transparent url("../img/cuadro_foto.png") no-repeat
        width: ($ancho - $pad-h*2)
        height: ($alto - $pad-vt - $pad-vb)
        margin: 20px 28px 0 0
        padding: $pad-vt $pad-h $pad-vb

        &:last-child
            margin-right: 0

        a.inner
            display: block
            text-decoration: none
            text-align: center
            background: $gris
            color: white
            width: 100%
            height: 100%

            span.text
                display: none
                padding: 1.3em

            &:hover span.text
                display: block

            &:hover span.img
                display: none

div.gran-texto
    padding: 0.5em
    text-align: justify


div.cuadro-cita
    width: 60%
    background: transparent url('../img/fondo-cita.png')
    font-style: italic
    padding: 0.5em

    .autor-cita
        float: right
        padding: 0.5em
        font-weight: bold


div.bloque-contacto
    @include all-rounded(5px)
    background: $fondo_verde
    margin: 1em
    padding: 1em

    div
        margin: 0.5em
        padding: 0.1em 0.5em

    .izq
        float: left
        padding-right: 5em

    .der
        float: left
        border-left: 1px solid black

    .formulario
        clear: both
        .col
            padding: 2%
            margin: 0
            width: 46%
            float: left
            .row
                padding: 0
                margin: 0

        input[type=text], textarea
            line-height: 2em
            padding: 0.5em
            width: 100%

        input[type=submit]
            float: right
            clear: both

        textarea
            height: 10.2em

        input, textarea
            border: 1px solid $gris

        .error
            border: 1px solid red