{% extends "web2/base.html" %}

{% block content %}

<div class="gran-texto">

<h2>Equipo</h2>

<p>Somos un equipo interdisciplinario que integra sus diferentes especialidades para crear propuestas pedagógicas y culturales que respondan a la necesidad de cada grupo o institución.
La integración de nuestras miradas profesionales: música, teatro y literatura,  nos permite entregar en contextos diversos una respuesta  amplia, flexible y creativa.</p>

<p>Creamos   redes  con aquellos que enriquecen nuestra misión  y nos acompañan en nuestro caminar: AELE, Fundación SM, Cluny ...</p>


<h3>Vidascopio es</h3>

<ul>
    <li>una forma de mirar de cerca la realidad,</li>
    <li>una motivación a trabajar con otros, acompañando procesos  educativos de mejora e  innovación </li>
    <li>una propuesta de trabajo a partir de vínculos que valoran la diversidad y competencias de cada persona y la cultura de cada espacio.</li>
</ul>


<ul>
    <li><b>Pamela Avila: </b>Educadora de párvulos, Licenciada en Ciencias de la Educación .Creadora de proyectos teatrales y musicales</li>
    <li><b>Cecilia Carnevali: </b> Profesora de Literatura. Máster en Literatura Infantil y juvenil. Creadora de proyectos de lectura y Escritura.</li>
    <li><b>Isabelle Guillon-Verne: </b>Coordinadora pedagógica del Jardín Cantarena Reggio Emilia .  Educadora de párvulos Montessori, Pedagoga Teatral, Gestora Socio Cultural</li>
</ul>

</div>

{% endblock content %}