{% extends "web2/base.html" %}

{% block content %}

<div class="gran-texto">

<h2>Equipo</h2>

<p>Somos un equipo interdisciplinario que integra sus diferentes especialidades para crear propuestas pedagógicas y culturales que respondan a la necesidad de cada grupo o institución.</p>

<h2>Nuestra Misión y Visión</h2>

<p>Apoyar la labor educativa de diversas instituciones públicas o privadas a través de proyectos, talleres y capacitaciones.</p>

<p>De esta manera esperamos contribuir a una educación humanizadora que valore y potencie la experiencia de vida de cada persona y el vínculo con los otros como un camino posible para construir una sociedad donde cada individuo sea un actor libre y creativo, capaz de generar cambios socio-culturales.</p>

</div>

{% endblock content %}