{% extends "web2/base.html" %}

{% block content %}

<div class="gran-texto">


    <h2>Experiencias</h2>

    <iframe width="280" height="157" src="http://www.youtube.com/embed/uxIjl-pUIh4" frameborder="0" allowfullscreen></iframe>
    <h3>Encuentro con la autora</h3>
    <hr/>


    <iframe width="280" height="157" src="http://www.youtube.com/embed/vO3MBQ3AXgE" frameborder="0" allowfullscreen></iframe>
    <h3>Talleres</h3>
    <hr/>

    <iframe width="280" height="157" src="http://www.youtube.com/embed/UacgkDEqC8E" frameborder="0" allowfullscreen></iframe>
    <h3>Testimonio de los profesores</h3>
    <hr/>

</div>

{% endblock content %}