{% extends "web2/base.html" %}

{% block content %}

<div class="gran-texto">


    <h2>Experiencias</h2>

    <div class="video">
        <iframe width="280" height="157" src="http://www.youtube.com/embed/uxIjl-pUIh4" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video-text">
        <p>Colegio Verde Bosque</p>
        <p>Visita de la autora</p>
        <p>Municipalidad de la Granga, 3° Básico, Prof Carmen Tobar</p>
    </div>
    <h3 class="clear">Encuentro con la autora</h3>
    <hr/>

    <div class="video">
        <iframe width="280" height="157" src="http://www.youtube.com/embed/vO3MBQ3AXgE" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video-text">
        <p>Proyecto: "Escribir como lectores" 2011</p>
        <p>Talleres de Capacitación Profesores</p>
        <p>Municipalidad de la Granga, 3° Básicos</p>
    </div>
    <h3 class="clear">Talleres</h3>
    <hr/>

    <div class="video">
        <iframe width="280" height="157" src="http://www.youtube.com/embed/UacgkDEqC8E" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video-text">
        <p>Opiniones de los actores principales del proyecto</p>
    </div>
    <h3 class="clear">Testimonio de los profesores</h3>
    <hr/>


    <h3>Experiencias realizadas</h3>
    <h4>Proyectos</h4>

        <p>
        <b>Escribir como Lectores:2010-2012</b>
        Capacitación a profesores, acompañamiento en el aula para la puesta en marcha del proyecto, visita de autores, salidas pedagógicas.
        Colegios beneficiarios: comunas de La Granja, Maipú, Renca y Cerro Navia
        www.clubescrituratelemaco.org
        </p>

    <h4>Capacitación profesores</h4>
        <p>
           <b>Propuestas de conversación, lectura y escritura en el aula</b> 2010-2012
           Puesta en marcha Proyecto "Escribir como Lectores"
           Colegios comuna La Granja, Maipú, Cerro Navia Y Renca
        </p>

        <p>
            <b>Los desafíos en el aula</b>
            Colegio Humberto Valenzuela-Comuna de Maipú.2012
            Colegio Abelardo Núnez-Comuna El Bosque-2014
        </p>

    <h4>Asesorías</h4>
        <p>
            Diseño, gestión, elaboración de materiales y capacitación bibliotecarios y profesores del programa "Leer en familia" -2013
            Fundación Cap/ Consultora Focus :Programa "Aprender en familia"
            Colegios Región Metropolitana, La Serena, Coquimbo y Vallenar.
        </p>

</div>

{% endblock content %}