{% extends "web2/base.html" %}

{% block title %}
- Galeria
{% endblock title %}

{% block content %}
    <div class="galeria">
        <h2>Galeria</h2>
        <div class="fotos">


            <div class="foto"><a href="/static/web2/img/fotos/41.jpg" data-lightbox="galeria"><img src="/static/web2/img/fotos/thumb/41.jpg.gif" alt=""></a></div>
            <div class="foto"><a href="/static/web2/img/fotos/32.jpg" data-lightbox="galeria"><img src="/static/web2/img/fotos/thumb/32.jpg.gif" alt=""></a></div>
            <div class="foto"><a href="/static/web2/img/fotos/33.jpg" data-lightbox="galeria"><img src="/static/web2/img/fotos/thumb/33.jpg.gif" alt=""></a></div>
        <!--<div class="foto"><a href="/static/web2/img/fotos/42.jpg" data-lightbox="galeria"><img src="/static/web2/img/fotos/34.jpg" alt=""></a></div>-->
            <div class="foto"><a href="/static/web2/img/fotos/43.jpg" data-lightbox="galeria"><img src="/static/web2/img/fotos/thumb/43.jpg.gif" alt=""></a></div>
            <div class="foto"><a href="/static/web2/img/fotos/36.jpg" data-lightbox="galeria"><img src="/static/web2/img/fotos/thumb/36.jpg.gif" alt=""></a></div>
            <div class="foto"><a href="/static/web2/img/fotos/37.jpg" data-lightbox="galeria"><img src="/static/web2/img/fotos/thumb/37.jpg.gif" alt=""></a></div>
            <div class="foto"><a href="/static/web2/img/fotos/38.jpg" data-lightbox="galeria"><img src="/static/web2/img/fotos/thumb/38.jpg.gif" alt=""></a></div>
            <div class="foto"><a href="/static/web2/img/fotos/44.jpg" data-lightbox="galeria"><img src="/static/web2/img/fotos/thumb/44.jpg.gif" alt=""></a></div>
        <!--<div class="foto"><a href="/static/web2/img/fotos/40.jpg" data-lightbox="galeria"><img src="/static/web2/img/fotos/40.jpg" alt=""></a></div> -->

            <div class="clear"></div>
        </div>
    </div>
{% endblock content %}