{% extends "web2/base.html" %}

{% block content %}

<div class="gran-texto">

<h2>Nuestra Historia</h2>

<p>Nuestro caminar por los distintos espacios educativos formales e informales, publicos y/o privados, nos permitió conocernos y descubrir  una vocación en común:  colaborar con una educación más humanista y significativa  para la vida.</p>

<p>Cada una, desde su capacidad de gestión, su propio lenguaje: la música, la literatura, el arte, el teatro, colaboraba  en distintos ámbitos al desarrollo de la persona humana. En numerosos proyectos en común experimentamos  que la integración  de nuestras miradas profesionales nos permitía entregar en  contextos diversos  una respuesta más amplia, flexible y creativa.</p>

<p>Por esto creamos <b>Vidascopio</b>, y juntas hoy miramos de cerca la realidad a la cual podemos hacer un aporte, para conocerla   y ofrecerle  propuestas pedagógicas y culturales. Nuestra modalidad de gestión  cree en los vínculos con los otros como una forma de valorar la diversidad de cada individuo y/o institución y construir  verdaderas comunidades educativas. Por eso  creamos redes con aquellos que enriquecen nuestra misión (AELE, Fundación SM, Cluny, CRA...) y nos acompañan en nuestro caminar…</p>

</div>

{% endblock content %}