{% extends "web2/base.html" %}

{% block content %}

<div class="gran-texto">

<h2>Nuestra Misión y Visión</h2>

<p>Apoyar la labor educativa de diversas instituciones públicas o privadas a través de proyectos, talleres y capacitaciones.</p>

<p>Contribuir a una educación humanizadora que valore y potencie la experiencia de vida de cada persona y el vínculo con los otros como una manera de construir una sociedad donde cada individuo sea un actor libre y creativo, capaz de generar cambios socio-culturales.</p>

</div>

{% endblock content %}