{% extends "web2/base.html" %}

{% block title %}
- {{pagina.titulo}}
{% endblock title %}

{% block content %}
    {% include "web2/menu_lateral.html" %}
    <div class="texto-columna">
        <h2>{{pagina.titulo}}</h2>


        <div class="cuadro-cita">
            <div class="texto-cita">{{pagina.cita|linebreaksbr}}</div>
            <div class="autor-cita">{{pagina.autor_cita|safe}}</div>
            <div class="clear"></div>
        </div>

        {{pagina.texto|safe|linebreaks}}

    </div>
{% endblock content %}