{% extends "web2/base.html" %}

{% block title %}
- ¿ Que Ofrecemos ?
{% endblock title %}

{% block content %}
    {% include "web2/menu_lateral.html" %}

    <div class="que-ofrecemos texto-columna">
        <h3>Conocer la comunidad educativa <br>
        Valorar su experiencia <br>
        Construir proyectos
        </h3>

    </div>


<div class="cuadros">
    <div class="cuadro">
        <a class='inner' href="{% url 'pagina' slug='escribir-como-lectores' %}">
            <span class="text"><strong>"Escribir como lectores"</strong><br>Los niños comparten sus producciones escritas</span>
            <span class="img"><img src="{{STATIC_URL}}web2/img/fotos/1.jpg" alt="" width="100%" height="100%"></span>
        </a>
    </div>
    <div class="cuadro">
        <a class='inner' href="{% url 'pagina' slug='talleres' %}">
            <span class="text"><strong>Murales</strong><br>En el colegio</span>
            <span class="img"><img src="{{STATIC_URL}}web2/img/fotos/2.jpg" alt="" width="100%" height="100%"></span>
        </a>
    </div>
    <div class="cuadro">
        <a class='inner' href="{% url 'pagina' slug='salidas-pegagogicas' %}">
            <span class="text"><strong>Salidas Pedagógicas</strong></span>
            <span class="img"><img src="{{STATIC_URL}}web2/img/fotos/3.jpg" alt="" width="100%" height="100%"></span>
        </a>
    </div>
    <div class="cuadro">
        <a class='inner' href="{% url 'pagina' slug='escribir-como-lectores' %}">
            <span class="text"><strong>"Escribir como lectores"</strong><br>Sara Bertrand en contacto con los niños</span>
            <span class="img"><img src="{{STATIC_URL}}web2/img/fotos/4.jpg" alt="" width="100%" height="100%"></span>
        </a>
    </div>
</div>
<div class="cuadros">
    <div class="cuadro">
        <a class='inner' href="{% url 'pagina' slug='escribir-como-lectores' %}">
            <span class="text"><strong>Inaguración del proyecto "Escribir como lectores"</strong><br>Biblioteca Nacional</span>
            <span class="img"><img src="{{STATIC_URL}}web2/img/fotos/5.jpg" alt="" width="100%" height="100%"></span>
        </a>
    </div>
    <div class="cuadro">
        <a class='inner' href="{% url 'pagina' slug='asesoria-y-elaboracion-de-proyectos' %}">
            <span class="text"><strong>Proyectos artísticos musicales</strong></span>
            <span class="img"><img src="{{STATIC_URL}}web2/img/fotos/6.jpg" alt="" width="100%" height="100%"></span>
        </a>
    </div>
    <div class="cuadro">
        <a class='inner' href="{% url 'select_pagina' slug='profesores' %}">
            <span class="text"><strong>Talleres para profesores</strong></span>
            <span class="img"><img src="{{STATIC_URL}}web2/img/fotos/7.jpg" alt="" width="100%" height="100%"></span>
        </a>
    </div>
    <div class="cuadro">
        <a class='inner' href="{% url 'pagina' slug='talleres' %}">
            <span class="text"><strong>Taller de expresión teatral</strong></span>
            <span class="img"><img src="{{STATIC_URL}}web2/img/fotos/40.jpg" alt="" width="100%" height="100%"></span>
        </a>
    </div>
</div>


{% endblock content %}