{% extends "web2/base.html" %}

{% block title %}
- ¿ Que Ofrecemos ?
{% endblock title %}

{% block content %}
    {% include "web2/menu_lateral.html" %}

    <div class="que-ofrecemos texto-columna">
        <h3>Conocer la comunidad educativa <br>
        valorar su experiencia <br>
        construir proyectos
        </h3>

    </div>

    <div class="galeria">
        <h2>Galeria</h2>
        <div class="fotos">

            <div class="foto"><img src="/static/web2/img/fotos/31.jpg" alt=""></div>
            <div class="foto"><img src="/static/web2/img/fotos/32.jpg" alt=""></div>
            <div class="foto"><img src="/static/web2/img/fotos/33.jpg" alt=""></div>
            <div class="foto"><img src="/static/web2/img/fotos/34.jpg" alt=""></div>
            <div class="foto"><img src="/static/web2/img/fotos/35.jpg" alt=""></div>
            <div class="foto"><img src="/static/web2/img/fotos/36.jpg" alt=""></div>
            <div class="foto"><img src="/static/web2/img/fotos/37.jpg" alt=""></div>
            <div class="foto"><img src="/static/web2/img/fotos/38.jpg" alt=""></div>
            <div class="foto"><img src="/static/web2/img/fotos/39.jpg" alt=""></div>
            <div class="foto"><img src="/static/web2/img/fotos/40.jpg" alt=""></div>

            <div class="clear"></div>
        </div>
    </div>
{% endblock content %}