{% extends "base.html" %}


{% block centro %}
<h2>A bibliotecas y otras instituciones</h2>

<ul>
    <li><a href="{% url 'entrelibros' %}">Entre libros, proyectos que dan vida a la biblioteca</a></li><br />
    <li><a href="{% url 'escribir' %}">Proyecto <em>"Escribir como lectores"</em></a></li><br />
    <li><a href="{% url 'salidas' %}">Salidas pegagógicas</a></li><br />
    <li><a href="{% url 'talleres' %}">Talleres de música, teatro, lectura y escritura</a></li><br />
</ul>
{% endblock centro %}
