{% extends "base.html" %}


{% block centro %}
<h2>Los desafíos en el aula, una oportunidad pedagógica</h2>

<p>
    Este taller busca explorar y desarrollar las capacidades del docente para crear estrategias creativas e innovadoras que le permitan afrontar la diversidad de su grupo-clase y gestionar nuevas prácticas metodológicas.
</p>
<br>
<br>

<div class="marco">
    <p class="cita">"La creatividad, en la medida que es un fenómeno que parte de la interioridad, consiste en atreverse a explorar para encontrar nuevas respuestas, diferentes e innovadoras a problemas y situaciones."</p>
    <p class="autor">Neva Milicic</p>
</div>
{% endblock centro %}
