{% extends "base.html" %}


{% block centro %}
<h2>¿Cómo responder a los estándares de calidad?  Estrategias para la formación del niño lector y escritor</h2>

<p>
    Este taller nace para apoyar la necesidad de las escuelas en el tema de la lectura y escritura en la primera infancia, como un proceso que comienza mucho antes que la alfabetización.
</p>
<br>
<br>

<div class="marco">
    <p class="cita">"Es prioridad de la escuela formar lectores activos y criticos que recurran a la lectura como medio de aprendizaje, información
    y recreación<span style="font-size:1.3em">...</span> esta experiencia marca la diferencia en el desarrollo integral de un niño."</p>

    <p class="autor"><span style="font-family:serif;font-size:0.8em">MINEDUC</span>, Bases curriculares de Educacion Basica</p>
</div>
{% endblock centro %}
