{% extends "base.html" %}


{% block centro %}
<h2>Expresión y creatividad en la educación parvularia</h2>

<p>
    Con este taller se espera que el profesor desarrolle mayor conciencia corporal, actualice sus propios procesos creativos e incorpore lenguajes
    artísticos como recurso para enriquecer su rol pedagógico.
</p>
<br>
<div class="marco">
    <p class="cita">"Es importante proponer al niño contextos significativos y espacios de comunicación oral ,pictórica, musical y escrita ,para que vaya plasmando y elaborando sus ideas ,sus fantasías,temores, ideas y sueños…Es importante valerse de la amplia gama de lenguajes no verbales que constituyen formas fundamentales de expresión y comunicación y que ofrecen al niño la posibilidad de desarrollar sus inteligencias múltiples"</p>
    <p class="autor">Yolanda Reyes</p>
</div>
{% endblock centro %}
