{% extends "base.html" %}


{% block centro %}
<h2>Salidas pegagógicas</h2>

<p>Diseñamos talleres de lectura y/o escritura compartida, en los cuales descubrimos en grupo la huella original que cada texto nos ofrece.</p>

<br>
<br>
<br>

<div class="marco">
    <p class="cita">"Crear espacios de lectura para ampliar el mundo, descubrir y aceptar múltiples formas de decir las cosas, conocer más de nosotros mismos al tener un diálogo diferente con la cultura escrita, aprender a no quedarnos en la cáscara de la realidad..."</p>
    <p class="autor">Laura Devetach</p>
</div>
{% endblock centro %}

{% block derecha %}

<img src="{{ STATIC_URL }}img/fotos/1.jpg" alt="" width="200px">
<img src="{{ STATIC_URL }}img/fotos/3.jpg" alt="" width="200px">
<img src="{{ STATIC_URL }}img/fotos/2.jpg" alt="" width="200px">
<img src="{{ STATIC_URL }}img/fotos/3.jpg" alt="" width="200px">

{% endblock derecha %}
