{% extends "base.html" %}


{% block centro %}
<h2>¿Qué y cómo leemos?</h2>

<p>
Este taller introduce  a los educadores en el mundo de la literatura infantil e invita a   crear nuevas prácticas de lectura para que leer se convierta en una experiencia vital.
</p>
<br>
<br>

<div class="marco tipo1">
    <p class="cita">"Una novela, un poema (...) permanecen tan sólo como manchas de tinta hasta que el lector los transforma en un conjunto de símbolos significativos. La obra literaria existe en el circuito vivo que se establece entre el lector y el texto"</p>
    <p class="autor">Rosenblatt</p>
</div>
{% endblock centro %}
