{% extends "base.html" %}


{% block centro %}
<h2>Salidas pegagógicas</h2>


<p>Un tema de interés nos convoca, abre muchas puertas, nos invita a leer libros, pero también a leer el arte, la ciudad, sus historias... a nosotros mismos...</p>

<p>Por eso esta propuesta dirigida a niños, jóvenes o adultos, promueve disfrutar y acercarnos al mundo de la cultura y sus distintas expresiones artísticas: teatro, lenguaje oral y escrito, cine, música…que habitan en distintos textos y espacios culturales.</p>

<p>Esta propuesta no solo consta de una salida, sino de varios encuentros que permiten conocer al grupo y sus intereses, preparar la salida con actividades acordes al tema elegido y un encuentro de cierre.</p>

<br>
<br>
<br>
<br>

<div class="marco">
    <p class="cita">"Ponernos en contacto con los textos de la cultura (literatura, música, juego, arte...) para dar un paso del lenguaje meramente utilitario y funcional a un lenguaje interpretativo, expresivo y simbólico determina el desarrollo de la capacidad creadora de un sujeto."</p>
    <p class="autor">Yolanda Reyes</p>
</div>
{% endblock centro %}

{% block derecha %}

<img src="{{ STATIC_URL }}img/fotos/1.jpg" alt="" width="200px">
<img src="{{ STATIC_URL }}img/fotos/3.jpg" alt="" width="200px">
<img src="{{ STATIC_URL }}img/fotos/2.jpg" alt="" width="200px">
<img src="{{ STATIC_URL }}img/fotos/3.jpg" alt="" width="200px">

{% endblock derecha %}
