{% extends "base.html" %}


{% block centro %}
<h2>Salidas pegagógicas</h2>


<p>
    Leemos los libros, el arte, la ciudad... nos leemos a nosotros mismos. Un tema de interes nos conecta con distintos textos culturales
    ........
</p>

<p>
    Esta propuesta consta de tres etapas:
    <ul>
        <li>preparación</li>
        <li>salida</li>
        <li>encuentro final</li>
    </ul>
</p>
<br>
<br>
<br>
<br>

<div class="marco">
    <p class="cita">"Ponernos en contacto con los textos de la cultura (literatura, música, juego, arte...) para dar un paso del lenguaje meramente utilitario y funcional a un lenguaje interpretativo, expresivo y simbólico determina el desarrollo de la capacidad creadora de un sujeto."</p>
    <p class="autor">Yolanda Reyes</p>
</div>
{% endblock centro %}

{% block derecha %}

<img src="img/fotos/1.jpg" alt="" width="200px">
<img src="img/fotos/3.jpg" alt="" width="200px">
<img src="img/fotos/2.jpg" alt="" width="200px">
<img src="img/fotos/3.jpg" alt="" width="200px">

{% endblock derecha %}
