{% extends "base.html" %}


{% block centro %}
<h2>Talleres de música, teatro, lectura y escritura</h2>


<p>
    Diseñamos talleres integrando los distintos lenguajes artisticos o poniendo énfasis en alguno de ellos, de acuerdo a las características e intereses de cada grupo.
</p>

<div class="marco" style="width:50%;margin-left:auto;margin-right:auto">
    <p class="cita" style="text-align:center;text-indent:0;" >
        "Encontrar el lenguaje <br>
        la llave de los mundos <br>
        no para cerrar <br>
        sino para abrir" <br>
    </p>
    <p class="autor">
        Juan Luis Martínez <br>
        Poemas del otro
    </p>
</div>
{% endblock centro %}
