{% extends "base.html" %}

{% block content %}

<div class="palabras"></div>


<div class="cuadros">
    <div class="cuadro">
        <div class='inner'>
            <span class="text"><strong>"Escribir como lectores"</strong><br>Los niños comparten sus producciones escritas</span>
        </div>
    </div>
    <div class="cuadro">
        <div class='inner'>
            <span class="text"><strong>Murales</strong><br>En el colegio</span>
        </div>
    </div>
    <div class="cuadro">
        <div class='inner'>
            <span class="text"><strong>Salidas Pedagógicas</strong></span>
        </div>
    </div>
    <div class="cuadro">
        <div class='inner'>
            <span class="text"><strong>"Escribir como lectores"</strong><br>Sara Bertrand en contacto con los niños</span>
        </div>
    </div>
</div>
<div class="cuadros">
    <div class="cuadro">
        <div class='inner'>
            <span class="text"><strong>Inaguración del proyecto "Escribir como lectores"</strong><br>Biblioteca Nacional</span>
        </div>
    </div>
    <div class="cuadro">
        <div class='inner'>
            <span class="text"><strong>Proyectos artísticos musicales</strong></span>
        </div>
    </div>
    <div class="cuadro">
        <div class='inner'>
            <span class="text"><strong>Talleres para profesores</strong></span>
        </div>
    </div>
    <div class="cuadro">
        <div class='inner'>
            <span class="text"><strong>Taller de expresión teatral</strong></span>
        </div>
    </div>
</div>


{% endblock content %}