{% extends "base.html" %}

{% block content %}
    <div class="menu-lateral">
        <ul>
            <li><a href="#">Niños y Jóvenes</a></li>
            <li><a href="#">Adultos</a></li>
            <li><a href="#">Profesores</a></li>
            <li><a href="#">Bibliotecas y otras Instituciones</a></li>
        </ul>
    </div>
    <div class="texto-columna">
        <h2>Escribir como lectores</h2>


        <div class="cuadro-cita">
            <div class="texto-cita">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias quam provident velit tempore ad. Minima, blanditiis, voluptate amet perferendis harum iste quisquam suscipit eaque aut nostrum totam necessitatibus dolores beatae!"</div>
            <div class="autor-cita">Juanito</div>
            <div class="clear"></div>
        </div>



    </div>
{% endblock content %}