{% extends "base.html" %}

{% block title %}
- {{pagina.titulo}}
{% endblock title %}

{% block content %}
    <div class="menu-lateral">
        <ul>
        {% for menu in menus %}
            <li><a href="#" class="{% if menu in pagina.menus.all %}activo{% endif %}">{{menu.nombre}}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="texto-columna">
        <h2>{{pagina.titulo}}</h2>


        <div class="cuadro-cita">
            <div class="texto-cita">{{pagina.cita|linebreaksbr}}</div>
            <div class="autor-cita">{{pagina.autor_cita|safe}}</div>
            <div class="clear"></div>
        </div>

        {{pagina.texto|safe|linebreaks}}

    </div>
{% endblock content %}