{% extends "base.html" %}


{% block centro %}
<h2>Nuestro equipo</h2>

<p style="text-indent:0"><b>Pamela Avila</b> Educadora de párvulos .Creadora de proyectos musicales y teatrales.</p>

<p style="text-indent:0"><b>Cecilia Carnevali</b> Profesora de Literatura. Diplomado en Literatura y comunidades. Máster en Literatura infantil y Juvenil.</p>

<p style="text-indent:0"><b>Isabel Guillón-Verne</b> Educadora de Párvulos Monttesori, Gestora SocioCultural, Pedagoga Teatral</p>

<p style="text-indent:0"><b>Beatriz Lasso</b> Economista. Gestión de proyectos socio-culturales</p>
{% endblock centro %}
