{% extends "base.html" %}

{% block header %}


{% endblock header %}


{% block centro %}

<div class="span-20 append-bottom">
    <img src="{{STATIC_URL}}img/fotos/2012-11-12 11.30.12.jpg" alt="" width="180px">
    <img src="{{STATIC_URL}}img/fotos/P9110229.JPG" alt="" width="180px">
    <img src="{{STATIC_URL}}img/fotos/DSCF7252.JPG" alt="" width="180px">
    <img src="{{STATIC_URL}}img/fotos/P9240424.JPG" alt="" width="180px">
</div>

<div class="span-3 fotos hide">
    <img src="{{STATIC_URL}}img/fotos/1.jpg" alt="" width="110px">
    <img src="{{STATIC_URL}}img/fotos/2.jpg" alt="" width="110px">
    <img src="{{STATIC_URL}}img/fotos/3.jpg" alt="" width="110px">
    <img src="{{STATIC_URL}}img/fotos/4.jpg" alt="" width="110px">
</div>

<div class="span-20 prepend-top clear last">
    <div class="span-10">
        <!-- <img src="{{STATIC_URL}}img/vidascopio_logo.png" alt="logo" /> -->
        <img src="{{STATIC_URL}}img/lib aero 009 beta.jpg" alt="logo" width="400px" />
    </div>

    <div class="span-10 last">
        <br>
        <div class="titulo">Mirando la vida de cerca ...</div>
        <br>
        <br>
        <br>

        <div class="texto-central">
            <div class="span-7 prepend-1 last clear">... conocer la comunidad educativa</div>
            <div class="span-6 prepend-2 last clear">... valorar su experiencia</div>
            <div class="span-6 prepend-3 last clear">... construir proyectos</div>
        </div>
    </div>
</div>

<div class="span-20 last titulo prepend-top">Propuestas pedagógicas y culturales</div>

<div class="span-3 last prepend-top fotos hide">
    <img src="{{STATIC_URL}}img/fotos/4.jpg" alt="" width="110px">
    <img src="{{STATIC_URL}}img/fotos/5.jpg" alt="" width="110px">
    <img src="{{STATIC_URL}}img/fotos/1.jpg" alt="" width="110px">
    <img src="{{STATIC_URL}}img/fotos/2.jpg" alt="" width="110px">
</div>

<div class="span-18 last prepend-2 fotos clear hide">
    <img src="{{STATIC_URL}}img/fotos/1.jpg" alt="" width="110px">
    <img src="{{STATIC_URL}}img/fotos/2.jpg" alt="" width="110px">
    <img src="{{STATIC_URL}}img/fotos/3.jpg" alt="" width="110px">
    <img src="{{STATIC_URL}}img/fotos/5.jpg" alt="" width="110px">
</div>
{% endblock centro %}

{% block derecha %}

{% endblock derecha %}

{% block extrastyle %}

{% endblock extrastyle %}

