{% extends "base.html" %}


{% block centro %}
<h2>Nuestra Misión y Visión</h2>

<h3>Misión</h3>
<p>Apoyar la labor educativa de diversas instituciones públicas o privadas a través de proyectos, talleres y capacitaciones.</p>

<br>

<h3>Visión</h3>
<p>Soñamos con contribuir a una educación humanizadora que valore y potencie la experiencia de vida de cada persona y el vínculo con los otros como un camino posible para construir una sociedad donde cada individuo sea un actor libre y creativo, capaz de generar cambios socio-culturales.</p>
{% endblock centro %}


