{% extends "base.html" %}


{% block centro %}
<h2>Nuestra Misión y Visión</h2>

<p>Somos una ONG sin fines de lucro, formada por un equipo interdisciplinario que integra sus diferentes especialidades para crear propuestas pedagógicas y culturales que respondan a la necesidad de cada grupo o institución.</p>

<p>Misión: apoyar la labor educativa de diversas instituciones públicas o privadas a través de proyectos, talleres y capacitaciones.</p>

<p>Visión: soñamos con contribuir a una educación humanizadora que valore y potencie la experiencia de vida de cada persona y el vínculo con los otros como un camino posible para construir una sociedad donde cada individuo sea un actor libre y creativo, capaz de generar cambios socio-culturales.</p>
{% endblock centro %}
