{% extends "base.html" %}


{% block centro %}
<h2>Experiencias</h2>

<h3>Proyecto <em>"Escribir como lectores"</em></h3>


<div class="span-8">
<iframe width="280" height="157" src="http://www.youtube.com/embed/uxIjl-pUIh4" frameborder="0" allowfullscreen></iframe>
<br>
Encuentro con la autora
<br>
</div>

<div class="span-8 last">
<iframe width="280" height="157" src="http://www.youtube.com/embed/vO3MBQ3AXgE" frameborder="0" allowfullscreen></iframe>
<br>
Talleres
</div>

<div class="span-8 clear last">
<iframe width="280" height="157" src="http://www.youtube.com/embed/UacgkDEqC8E" frameborder="0" allowfullscreen></iframe>
<br>
Testimonio de los profesores
</div>

{% endblock centro %}

{% block derecha %}

<img src="{{ STATIC_URL }}img/libros/caratula-oro-de-la-corona.jpg" alt="" width="100px">
<img src="{{ STATIC_URL }}img/libros/en-el-reino-de-las-aves.jpg" alt="" width="100px">
<img src="{{ STATIC_URL }}img/libros/misterio-en-el-campamento.jpg" alt="" width="100px">
<img src="{{ STATIC_URL }}img/libros/portada-misterio-en-los-piones.jpg" alt="" width="100px">

{% endblock derecha %}
