{% extends "base.html" %}


{% block centro %}
<h2>Experiencias</h2>

<h3>Proyecto <em>"Escribir como lectores"</em></h3>


<div class="span-8">
<iframe width="280" height="157" src="http://www.youtube.com/embed/cSMc5WiDH-Y?rel=0" frameborder="0" allowfullscreen></iframe>
FOTOS AUTORA VERDE BOSQUE
<br>
Encuentro con la autora
<br>

</div>

<div class="span-8 last">
<iframe width="280" height="157" src="http://www.youtube.com/embed/cSMc5WiDH-Y?rel=0" frameborder="0" allowfullscreen></iframe>
FOTOS TALLERES HASTA AGO 20.wmv
<br>
Talleres

</div>

<div class="span-8 clear last">
<iframe width="280" height="157" src="http://www.youtube.com/embed/cSMc5WiDH-Y?rel=0" frameborder="0" allowfullscreen></iframe>
<br>
III JORNADA AELE COMENTARIOS.wmv
<br>
Testimonio de los profesores

</div>


{% endblock centro %}

{% block derecha %}

<img src="{{ STATIC_URL }}img/libros/caratula-oro-de-la-corona.jpg" alt="" width="100px">
<img src="{{ STATIC_URL }}img/libros/en-el-reino-de-las-aves.jpg" alt="" width="100px">
<img src="{{ STATIC_URL }}img/libros/misterio-en-el-campamento.jpg" alt="" width="100px">
<img src="{{ STATIC_URL }}img/libros/portada-misterio-en-los-piones.jpg" alt="" width="100px">

{% endblock derecha %}
