{% extends "base.html" %}


{% block centro %}
<h2>Nuestra experiencia</h2>

<h3>Proyecto <em>"Escribir como lectores"</em></h3>

<p>
    <b>ONG Vidascopio</b> ejecutó el proyecto desde el año 2010 en las comunas de La Granga, Maipú y Cerro Navia
    apoyada por la <b>Corporación Cultural Cluny</b> y el patrocinio del <b>MINEDUC</b>, acogiendo a ... escuelas y ... niños.
</p>

<p>
    Este proyecto consta de la siguientes etapas:
</p>

<h4>- Inaguración</h4>
<p>Durante estos años se han reunido en la Biblioteca Nacional y en la Biblioteca Santiago los principales actores: los niños, los profesores y el autor o autora del libro elegido, para dar inicio a la inaguración del proyecto.</p>

<h4>- Talleres de capacitación</h4>
<p>El objetivo de estos talleres es capacitar al profesor para conocer y poner en práctica la propuesta metodologica del proyecto.</p>

<h4>- Visitas al aula</h4>
<p>Una pareja pedagogica del equipo (PP) acompaña al profesor en el aula para la puesta en marcha del proyecto durante visitas quincenales.</p>

<h4>- Visita del autor(a)</h4>
<p>
El autor(a) del libro elegido visita cada aula participante en el proyecto y responde a las inquietudes de los niños, generando la oportunidad
de contactarse con su persona y oficio de escritor y despertando interes por la lectura y escritura.
</p>

<h4>- Salida pegagógica</h4>
<p>Los cursos participantes concretaran una salida pedagógica a un lugar acorde a la obra leida.</p>
{% endblock centro %}

{% block derecha %}

<img src="{{ STATIC_URL }}img/libros/caratula-oro-de-la-corona.jpg" alt="" width="100px">
<img src="{{ STATIC_URL }}img/libros/en-el-reino-de-las-aves.jpg" alt="" width="100px">
<img src="{{ STATIC_URL }}img/libros/misterio-en-el-campamento.jpg" alt="" width="100px">
<img src="{{ STATIC_URL }}img/libros/portada-misterio-en-los-piones.jpg" alt="" width="100px">

{% endblock derecha %}
