{% extends "base.html" %}


{% block centro %}
<h2>Links</h2>

<p>Quienes nos inspiran y/o acompañan en nuestra labor</p>

<ul>
    <li><a href="http://www.asociacionaele.org" title="">www.asociacionaele.org</a></li><br>
    <li><a href="http://www.fundacion-sm.com" title="">www.fundacion-sm.com</a></li><br>
    <li><a href="http://www.corporacioncluny.cl" title="">www.corporacioncluny.cl</a></li><br>
    <li><a href="http://www.cantarena.cl" title="">www.cantarena.cl</a></li><br>
    <li><a href="http://www.bibliotecas-cra.cl" title="">www.bibliotecas-cra.cl</a></li><br>
    <li><a href="http://www.bancodellibro.org.ve" title="">www.bancodellibro.org.ve</a></li><br>
    <li><a href="http://www.ekare.com.ve" title="">www.ekare.com.ve</a></li><br>
    <li><a href="http://www.habiaunaveztruz.cl" title="">www.habiaunaveztruz.cl</a></li><br>
    <li><a href="http://www.habiaunavezlibros.cl" title="">www.habiaunavezlibros.cl</a></li><br>
    <li><a href="http://www.imaginaria.com.ar" title="">www.imaginaria.com.ar</a></li><br>

</ul>

{% endblock centro %}
