$verde: #67BB95
$gris: #B5B4B0
$azul: #75B6D1
$color_menu_claro: #688DA1
$color_menu_seleccionado: #4FAA7F
$color_texto: #383734

html, body
    margin: 0
    padding: 0
    color: $color_texto

#container
    background: white url("../img/fondo.png")

#top
    width: 980px
    margin: 0 auto

#page
    background: white
    min-height: 100px
    clear: both

#footer
    background: $verde

    div
        width: 80%
        margin: 0 auto
        text-align: center

        img
            margin: 0.5em 1em

#logo
    float: left

#menu
    float: left
    margin-top: 4em
    ul li
        float: left
        border-right: 1px solid white
        &:last-child
            border-right: 0

        a
            background: $verde
            display: block
            padding: 1em 2em
            &:hover
                background: $color_menu_seleccionado
